@use '@cloudscape-design/design-tokens/index' as awsui; 

.card-search-module {
  padding-bottom: 2rem;
  display: flex;
  gap: 1rem;

  .list-wrapper {
    flex: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .sorting-select {
      display: flex;
      gap: 0.5rem;
      width: 25rem;

      & > div:nth-child(2) {
        width: 10.3rem;
      }
      & > div:nth-child(3) {
        width: 9rem;
      }
    }

    .scroller-wrapper {
      flex: auto;
      margin: 0 -0.8rem;

      .list-item {
        height: 90px;

        .list-item_content {
          padding: 0.5rem 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: calc(100% - 1rem);

          & > div {
            display: flex;
            justify-content: space-between;

            & > div:nth-child(1) {
              flex-grow: 1;
              overflow: hidden;
            }

            & > div:nth-child(2) {
              flex-grow: 0;
              flex-shrink: 0;
            }

            .list-item_card-name {
              text-overflow: ellipsis;
              white-space: nowrap;
              line-height: 2rem;
              font-size: 1.6rem;
              overflow: hidden;
            }

            .list-item_detail {
              font-size: 1.2rem;
              line-height: 1.6rem;
            }
          }

          .list-item_card-type-tag {
            border: 2px solid awsui.$color-text-interactive-default;
            padding: 0 1rem;
            border-radius: 2rem;
            font-weight: 700;
            text-shadow: 0 0 2px black;
            height: 2.2rem;
          }

          .list-item_bottom-row {
            font-size: 1.2rem;
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}

.filter-content-wrapper {
  width: 28rem;
  position: relative;

  .expand-toggle {
    position: absolute;
    top: 0;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
    user-select: none;
  }
  
  .filter-form-wrapper {
    padding: 1rem 3.2rem 2rem 3.2rem;

    .filter-form-collection-contains-wrapper {
      display: flex;
      justify-content: space-between;
      height: 2.2rem;

      & > span {
        font-weight: 700;
      }

      & > div {
        transform: scale(calc(22 / 30));
        transform-origin: 100% 0;
      }
    }
  }
}

.card-search-filter_expanded {
  left: -25rem !important;
}