@use '@cloudscape-design/design-tokens/index' as awsui; 

.card-search-module {
  padding-bottom: 2rem;
  display: flex;
  gap: 1rem;

  .list-wrapper {
    flex: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .sorting-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .sorting-card-pool {
      display: flex;
      gap: 0.5rem;
      width: 27rem;

      & > div:nth-child(2) {
        flex: auto;
      }
    }

    .sorting-select {
      display: flex;
      gap: 0.5rem;
      width: 27rem;

      & > div:nth-child(2) {
        flex: auto;
      }
      & > div:nth-child(3) {
        width: 9rem;
      }
    }

    .scroller-wrapper {
      flex: auto;
      margin: 0 -0.8rem;
    }
  }
}

.filter-content-wrapper {
  width: 28rem;
  position: relative;
  height: calc(100vh - 8.8rem);
  
  .filter-form-wrapper {
    padding: 1rem 3.2rem 0 3.2rem;
    height: calc(100% - 4rem);
    overflow-y: auto;

    .filter-form-collection-contains-wrapper {
      height: 2.2rem;
      position: relative;

      & > span {
        font-weight: 700;
      }

      & > div {
        transform: scale(calc(22 / 30));
        transform-origin: 100% 0;
      }
    }

    & ul[aria-labelledby~="hide-group-select"] {
      & li:not([data-group-index]) {
        pointer-events: none !important;

        & > div:first-child div {
          position: relative;

          & > div {
            position: absolute !important;
            left: 0;
            top: 0;
          }

          & > div:first-child {
            visibility: hidden !important;
            width: 0 !important;
            height: 0 !important;
          }
        }
      }
    }
  }
}

.card-search-filter_expanded {
  left: -25rem !important;
}

.expand-toggle {
  position: absolute;
  top: 0;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  user-select: none;
}