@use '@cloudscape-design/design-tokens/index' as awsui; 

.form-field-with-segments {
  .form-field-with-segments_header {
    display: flex;
    justify-content: space-between;
    height: 2.2rem;

    label {
      font-weight: 700;
    }
    
    & > div {
      transform: scale(calc(22 / 30));
      transform-origin: 100% 0;
    }
  }

  .form-field-with-segments_children-wrapper {
    padding-top: 0.4rem;
  }
}

.multi-segmented-control_selected {
  background: awsui.$color-background-control-checked !important;
  border-color: awsui.$color-text-interactive-default !important;
  color: awsui.$color-text-button-primary-default !important;
}